@import "tailwindcss";

button {
  border: none;
  cursor: pointer;
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.main-bg-orange {
  background: linear-gradient(105.54deg, #f4a764 -2.93%, #ffdec2 72.14%);
}

@theme {
  --color-k-black: #1c1415;
  --color-k-gray: #1c1415cc;
}

/* swiper */
.swiper-button-next,
.swiper-button-prev {
  width: 75px;
  height: 75px;
}
